/* Extra small devices (phones, less than 768px) 
 No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	body{
	background-color: #b20000;
   }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up)*/ 
@media (min-width: @screen-lg-min) { ... }


body{
  background: url("https://lh3.googleusercontent.com/-7r_wog9sc0U/VTNBxtHq9zI/AAAAAAAAADk/H9mWETTRGFY/w958-h548-no/73214442_227f267cda_o.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainBox{
  width: 100%;
  margin-top: 375px;
  background-color: white;
  padding:3em 0em 3em 0em;
  margin-left: auto;
  margin-right: auto;
}

.introcontainer{
	width: 100%
}

.container-fluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.introduction{
	text-align: center;
	margin-top: 200px;
	color:white;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

.subHeading{
	text-align: center;
	color: white;
	font-family:'Raleway', sans-serif;
}

.leftImgBox{
	margin-left: auto;
	margin-right: auto;
}

.rightImgBox{
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

.teaser{
	width: 264px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.footer{
	background-color: #1f1f1f;
	height: 275px;
	width: 100%;
}

.footerShare{
	width: 100%;
	height: 100px;
	background-color: #333;
}

.fa{
	color: white; 
	margin-top: 35px;
	margin-left: .25em;
	margin-right: .25em;
}

.fa:hover{
	color:#ff6600;
}

.faBox{
	margin-left: auto;
	margin-right: auto;
	width: 15em;
}

.callOut{
	color: white;
	width: 100%;
	margin-top: 55px;
	text-align: center;
}

.callOutLink{
	color: white;
	text-decoration: none;
}

.callOutLink:hover{
	color:#ff6600;
}

.ladderName{
	text-align: center;
	color:black;
}

#left{	
padding: 3em;
}

.introduction1{
	text-align: center;
	font-size: 4.5em;
	color:white;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

.subHeading1{
	text-align: center;
	color: white;
	font-family:'Raleway', sans-serif;
	margin-top: 180px;
}

#mainBox1{
  width: 100%;
  margin-bottom: 0px;
  margin-top: 250px;
  background-color: white;
  padding: 4em 2em 4em 2em;
  margin-left: auto;
  margin-right: auto;
}

#mainBox2{
  width: 100%;
  margin-bottom: 0em;
  margin-top: 0px;
  background-color: white;
  padding: 8em 2em 6em 2em;
  margin-left: auto;
  margin-right: auto;
}

#mainBox3{
  width: 100%;
  background-color: black;
  padding-bottom: 15em;
  margin-left: auto;
  margin-right: auto;
  padding: 6em 2em 8em 2em;
}


.requestInfoButton{
	height: 35px;
	width: 148px;
	padding: 5px 0px 0px 0px;
	border: .2em solid white;
	border-radius: 300px;
	float: right;
	margin-right: 1.5em;
	text-align: center;
	margin-top: 1em;
}

.requestInfoButton1{
	height: 31px;
	width: 148px;
	padding: 4px 0px 0px 0px;
	border: 2px solid white;
	border-radius: 300px;
	float: right;
	margin-right: 1.5em;
	text-align: center;
	margin-top: 1em;
}

.requestInfoButton:hover{
	background-color: #ff6600;
}

.surveyLink{
	color: white;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.header{
	width: 100%;
	height: 70px;
}

.imgTeaser{
	max-width: 80%;
}

.mainbox3text{
	color:white;
	font-family: 'Raleway', sans-serif;
}

.space{
	margin:1em 0em 1em 0em;
}

#rotate{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}



/* {
   border: 1px solid red !important;
}