/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 767px) { 

	body{
	 background: url('https://lh3.googleusercontent.com/-ZS3r0TAxa3c/VTlhLmVcaXI/AAAAAAAA2iU/UautaEpzeug/w768-h402-no/background.jpg') no-repeat center bottom fixed; 	 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}

    .imgBox{
	 margin-top: 50px;
	}

	.embed-responsive-4by3{
	 margin-bottom: 10em;
	}

	.productDescription{
	 padding: 0em .5em 2em .5em;
	 font-size: 1em;
	}

	.introduction{
	 text-align: center;
	 font-size: 3.5em;
	 color:white;
	 font-family: 'Raleway', sans-serif;
	 text-transform: uppercase;
	 margin-top: 70px;
	 font-size: 20px;
	}

	.subHeading{
 	 text-align: center;
	 color: white;
	 font-family:'Raleway', sans-serif;
 	 font-size: 15px;
	}

	.teaser{
	 width: 264px;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 25px;
	 margin-bottom: 25px;
	}

	.introContainer{
	 width: 100%;
	 margin-top: 0px;
	}

	.space{
	 margin:1em 0em 1em 0em;
	}

	#mainBox{
  	 width: 100%;
     margin-top: 275px;
     background-color: rgba(249, 70, 28, 0.85);
     padding:3em 0em 3em 0em;
     margin-left: auto;
     margin-right: auto;
	}
}

 /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
	
	body{
	 background: url('https://lh3.googleusercontent.com/-ZS3r0TAxa3c/VTlhLmVcaXI/AAAAAAAA2iU/UautaEpzeug/w768-h402-no/background.jpg') no-repeat center center fixed; 	 
	 -webkit-background-size: cover;
     -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}

	.introduction{
	 text-align: center;
	 font-size: 3.5em;
	 color:white;
	 font-family: 'Raleway', sans-serif;
	 text-transform: uppercase;
	 margin-top: 50px;
	 font-size: 20px;
	}

	.subHeading{
 	 text-align: center;
	 color: white;
	 font-family:'Raleway', sans-serif;
	 font-size: 15px;
	}

	 .imgBox{
	  margin-bottom: 25px; 
	}

	.productDescription{
	 padding: 0em .5em 2em .5em;
	 font-size: 1.25em;
	}

	.teaser{
	 width: 264px;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 25px;
	 margin-bottom: 25px;
	}

	.introContainer{
	 width: 100%;
	 margin-top: 170px;
	}

	.space{
	 margin:1em 0em 1em 0em;
	}

	#mainBox{
  	 width: 100%;
  	 margin-top: 375px;
  	 background-color: rgba(249, 70, 28, 0.85);
  	 padding:3em 0em 3em 0em;
  	 margin-left: auto;
  	 margin-right: auto;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
	
	body{
	  background: url("https://lh3.googleusercontent.com/-7r_wog9sc0U/VTNBxtHq9zI/AAAAAAAAADk/H9mWETTRGFY/w958-h548-no/73214442_227f267cda_o.jpg") no-repeat center center fixed; 	 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	.imgBox{
	 margin-left: auto;
	 margin-right: auto;
	 max-width: 400px;
   }

   	.productDescription{
	 padding: 0em 3em 0em 3em;
 	 font-size: 1.5em;
	}

	.introduction{
	 text-align: center;
	 font-size: 3.5em;
	 color:white;
	 font-family: 'Raleway', sans-serif;
	 text-transform: uppercase;
	 margin-top: 50px;
	 font-size: 40px;
	}

	.subHeading{
	 text-align: center;
	 color: white;
	 font-family:'Raleway', sans-serif;
	 font-size: 25px;
	}

	.teaser{
	 width: 464px;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 45px;
	 margin-bottom: 25em;
	}

	.introContainer{
	 width: 100%;
	 margin-top: 170px;
	}

	.space{
	 margin:1em 0em 1em 0em;
	 font-size: 1.25em;
	}

	#mainBox{
	 width: 100%;
	 margin-top: 475px;
	 background-color: rgba(249, 70, 28, 0.85);
	 padding:3em 0em 3em 0em;
	 margin-left: auto;
	 margin-right: auto;
	}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	body{
	  background: url("https://lh3.googleusercontent.com/-7r_wog9sc0U/VTNBxtHq9zI/AAAAAAAAADk/H9mWETTRGFY/w958-h548-no/73214442_227f267cda_o.jpg") no-repeat center center fixed; 	 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	
	.imgSize{
	 width: 80%
	}

	.productDescription{
 	 padding: 0em 3em 0em 3em;
	 font-size: 1.5em;
	 margin-top: 5%;
	}

	#height{
	 max-width: 350px;
	 margin-top: 2px;
	}

	.container-fluid{
	 padding: 0px !important;
	}

	.introduction{
	 text-align: center;
	 font-size: 3.5em;
	 color:white;
	 font-family: 'Raleway', sans-serif;
	 text-transform: uppercase;
	 margin-top: 50px;
	 font-size: 60px;
	}

	.subHeading{
	 text-align: center;
	 color: white;
	 font-family:'Raleway', sans-serif;
	 font-size: 45px;
	}

	.align{
	 margin-top: 20%
	}

	.teaser{
	 width: 564px;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 25px;
	}

	.space{
	 margin:1em 0em 1em 0em;
	 font-size: 1.25em;
	}

	.introContainer{
	 width: 100%;
	 margin-top: 170px;
	}

	#mainBox{
	  width: 100%;
	  margin-top: 475px;
	  background-color: rgba(249, 70, 28, 0.85);
	  padding:3em 0em 3em 0em;
	  margin-left: auto;
	  margin-right: auto;
	}
}
 
/*Global Stylings*/

.container-fluid{
 margin-bottom: 2em;
}


.subHeading{
 text-align: center;
 color: white;
 font-family:'Raleway', sans-serif;
}


.footer{
 background-color: #1f1f1f;
 height: 275px;
 width: 100%;
}

.footerShare{
 width: 100%;
 height: 100px;
 background-color: #333;
}

.fa{
 color: white; 
 margin-top: 35px;
 margin-left: .25em;
 margin-right: .25em;
}

.fa:hover{
 color:#ff6600;
}

.faBox{
 margin-left: auto;
 margin-right: auto;
 width: 15em;
}

.callOut{
 color: white;
 width: 100%;
 margin-top: 55px;
 text-align: center;
}

.callOutLink{
 color: white;
 text-decoration: none;
}

.callOutLink:hover{
 color:#ff6600;
}
 
.ladderName{
 text-align: center;
 color:black;
 text-decoration: none;
}

.ladderName:hover{
 color: black;
}

#mainBox1{
 width: 100%;
 margin-bottom: 0px;
 margin-top: 150px;
 background-color: rgba(249, 70, 28, 0.85);
 padding: 2em 0em 2em 0em;
 margin-left: auto;
 margin-right: auto;
}

#mainBox2{
 width: 100%;
 margin-bottom: 0em;
 margin-top: 0px;
 background-color: rgba(249, 70, 28, 0.85);
 padding: 2em 0em 2em 0em;
 margin-left: auto;
 margin-right: auto;
}

.requestInfoButton{
 height: 35px;
 width: 148px;
 padding: 5px 0px 0px 0px;
 border: .2em solid white;
 border-radius: 300px;
 float: right;
 margin-right: 1.5em;
 text-align: center;
 margin-top: 1.5em;
 display: inline-block;
}

.requestInfoButton:hover{
 background-color: #ff6600;
}

.surveyLink{
 color: white;
 text-decoration: none;
 font-family: 'Raleway', sans-serif;
 font-size: 16px;
}

#header{
 width: 100%;
 height: 70px;
 margin-bottom: 11em;
 padding-left: 2em;
}

.img-thumbnail{
 width: 80%;
 position: relative;
}

.home{
 width: 170px;
 float: left;
 margin-top: 1.5em;
 padding-left: 2.5em;
}

.topBox{
 width: 100%;
}

/* {
   border: 1px solid red !important;
}