<form-link></form-link>

	<div class='introContainer'>
		<h1 class="subHeading1">Introducing</h1>
		<H1 class="introduction1">Defender™ Firefighter Ladder</H1>
	</div>


	<div class='row' id='mainBox1'>

		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>	
			<div class="leftImgBox">
			    <H4 class='ladderName'>Defender™</H4>
				    <p></p>
			</div>
		</div>

		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<div class='productDescription'>
				<img class='img-responsive center-block' src="images/defender.jpg">
			</div>
		</div>

	</div>

