<form-link></form-link>

	<div class='introContainer'>
			<div class='teaser'>
				<img class='img-responsive center-block img-thumbnail' src="images/LOGO, DEFENDER-page-001.jpg">
			</div>
	</div>


	<div class='row' id='mainBox1'>
	
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">	
			<div class="imgBox">
			    <p class='productDescription'>The Little Giant Defender™ was engineered specifically for firefighters who need speed and strength in a rapid-response ladder. The Defender is designed to fit existing storage spaces in most fire engines and is constructed of a special alloy that makes it 20% lighter than any comparable industrial-rated ladder. The Defender also includes several innovative new features such as the Quad-Lock™ hinge and the easy-to-use Rock Locks for quick adjustment. The Defender can be used in up to 43* unique configurations as an A-frame, extension, staircase and 90-degree ladder, and as a trestle-and-plank scaffolding system. The Defender’s wide-flared legs and aerospace-grade aluminum construction provide an unmatched feeling of safety stability.
			    <br>
			    <br>
			    The Defender also features Little Giant's new, patented dual Ratchet Levelers™. The Ratchet Levelers adjust hands-free in seconds. These integrated levelers are extremely quick and easy to operate.  Simply extend the levelers with your foot until the ladder reaches a level, stable setup. The levelers offer nearly 9.5 inches of leveling adjustment and allow you to adapt your ladder to nearly any uneven surface in only seconds. The Defender has high-viz reflective labels and heat-sensor labels that indicate when it has been exposed to too much heat and should be taken out of service.			
			   	<br>
				<br>
				The Little Giant Defender is rated to hold 300 pounds on both sides and can be used as a true two-person ladder.</p>
			</div> 
		</div>

		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
			<div class='productDescription'>
				<img class='img-responsive center-block' src="https://lh3.googleusercontent.com/-UtsBJshcTgI/VT70vRO1x7I/AAAAAAAAAEE/V2i-sPxEJQQ/w689-h891-no/defender.jpg">
			</div>
		</div>

	</div>

