<form-link></form-link>

	<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
			<div class='teaser col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4'>
				<img class='img-responsive center-block cross' src="images/defender/Defender Fire Logo-2.jpg">
			</div>
	</div>


	<div class='row' id='mainBox1'>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<div class="imgBox">
			    <p class='productDescription'>
			     <b>The Defender</b>
			    <br><br>
			     The Little Giant Defender™ was specifically engineered for firefighters who need speed and strength in a rapid-response portable ladder system. The Defender is designed to fit existing storage spaces in most fire engines and is constructed of a special alloy that makes it lighter than any comparable industrial-rated ladder. The Defender also includes several innovative new features such as the Quad-Lock™ hinge and the Rock Locks for quick, easy adjustment with heavy firefighter gloves. The Defender can be used in dozens of unique configurations as an A-frame, extension, staircase and 90-degree ladder, and as a trestle-and-plank scaffolding system. The Defender’s wide-flared legs and aerospace-grade aluminum construction provide an unmatched feeling of safety and stability.
			    <br><br>
			     The Defender also features Little Giant's new, patented dual Ratchet Levelers™. The Ratchet Levelers adjust hands-free in seconds. These integrated levelers are extremely quick and easy to operate.  Simply extend the levelers with your foot until the ladder reaches a level, stable setup. The levelers offer nearly 8.5 inches of leveling adjustment and allow you to adapt your ladder to nearly any uneven surface in only seconds. The Defender has high-viz reflective labels and heat-sensor labels that indicate when it has been exposed to too much heat and should be taken out of service. The Defender also features heavy duty casters to make transport faster and easier.
			    <br><br>
				 The Little Giant Defender is rated to hold 300 pounds on both sides and can be used as a true two-person stepladder.
			    <br><br>
				 <b>NFPA Compliance</b>
			    <br><br>
				 The Little Giant Defender ladder system is designed to meet the requirements of NFPA 1931-2015, Standard for Manufacturer’s Design of Fire Department Ground Ladders, and has been tested to the requirements of NFPA 1932-2015, Standard on Use, Maintenance, and Service Testing of In-Service Fire Department Ground Ladders. Little Giant’s Defender and Overhaul ladders are the only articulating ladder systems that meet the requirements of NFPA 1901-2009, Standard for Automotive Fire Apparatus, section 5.7.1.3 for pumpers, section 8.7.5 for ladder trucks, and section 9.7.1.3 for quints.
			    <br><br>
				 <b>Insurance Services Office</b>
			    <br><br>
				 The Little Giant Defender Ladder meets ISO requirements for credit on pumper and ladder apparatus.</p>
			</div>
		</div>
	<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6'>
			  <div style="width:100%">
			    <carousel interval="myInterval">
			      <slide ng-repeat="slide in slides" active="slide.active">
			        <img ng-src="{{slide.image}}" style="margin:auto;">
			        <div class="carousel-caption">
			          <p>{{slide.text}}</p>
			        </div>
			      </slide>
			    </carousel>
			  </div>
	</div>
