<form-link></form-link>
<div class='topBox'>	
	
	<div class='col-xs-12'>
		<h1 class="introduction">Introducing</h1>
		<H3 class="subHeading">Little Giant Fire Climbing Equipment</H3>
	</div>

	<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<img class='center-block cross' src="https://lh3.googleusercontent.com/-OUD0XzgjBVM/VUPjBH9YpmI/AAAAAAAAAGY/CiY-ZQfYxGs/w291-h278-no/0.png">
	</div>

	<div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 homeTextContainer'>
		<p class='homeText'>Little Giant Ladder Systems, the industry leader in ladder safety innovation, has developed two ladders especially for firefighters. Firefighters work in the most hazardous environments. Little Giant’s new fire service ladders improve firefighter safety by providing a stable work platform with features that are specifically aimed at hazards that firefighters face every day.</p>
	</div>

</div>

<div id='mainBox' class='row'>
		
	<a class='ladderName' ui-sref='overhaul'> 
		<div class="col-lg-6" id='left'>
			<div class="imgBox">
				<img class='img-responsive center-block imgSize img-thumbnail' src="https://lh6.googleusercontent.com/-NzRjW7wC6Pw/VT77sD3iKoI/AAAAAAAAAEo/eE1771jjJgw/w756-h891-no/Overhaul17_Ratchet_Hero.jpg">
			</div>	
				
			<div class='teaser'>
				<img class='img-responsive center-block img-thumbnail' src="https://lh6.googleusercontent.com/-44OftbVrVGs/VT8FaiwtCLI/AAAAAAAAAFM/eTidmLiXwfE/w1331-h325-no/LOGO%2C%2BOVERHAUL%2C%2BWHITE-page-001.jpg">
			</div>
		</div>
	</a> 
	
	<a class='ladderName' ui-sref="defender">
		<div class='col-lg-6' id='right'>	
			<div class="imgBox">
				<img class='img-responsive center-block imgSize img-thumbnail' src="https://lh4.googleusercontent.com/-a6VTa0pmo-A/VTqRleRMamI/AAAAAAAA2jI/HYIRGBEzWWU/w695-h817-no/Hero%2BDefender%2B17%2BRatchets.jpg">
			</div>
					
			<div class='teaser'>
				<img class='img-responsive center-block img-thumbnail' src="https://lh6.googleusercontent.com/-MwvIabNnPgg/VUPjAksoClI/AAAAAAAAAGU/sd2wKTXeABY/w433-h116-no/0%2B%281%29.png">
			</div>
		</div>
	</a>
</div>
