<form-link></form-link>
	
<div>
	<div lass="col-xs-12 col-md-12 col-lg-12" class='introContainer'>
		<h1 lass="col-xs-12 col-md-12 col-lg-12" class="introduction">Introducing</h1>
		<H3 lass="col-xs-12 col-md-12 col-lg-12" class="subHeading">Two revolutionary new ladders</H3>
	</div>

<div id='mainBox' class='row'>
		
		<a class='ladderName' ui-sref='overhaul'> 
			<div class="col-lg-6" id='left'>
				<div class="imgBox">
					<img class='img-responsive center-block' src="images/Overhaul17_Ratchet_Hero.jpg">
				</div>	
				<div class='teaser'>
					<H4>OVERHAUL</H4>
					<p>Working with firefighters from the nation’s leading fire departments, Little Giant engineered the Overhaul™ firefighter ladder to help them gain fire control as quickly as possible and to make the overhaul process faster and safer.</p>
				</div>
			</div>
			</a> 

		
			<a class='ladderName' ui-sref="ladder2">
				<div class='col-lg-6' id='right'>	
					<div class="leftImgBox">
						<img class="img-responsive center-block" src="https://www.littlegiantladder.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/r/e/revolution-small.jpg">
					</div>
					<div class='teaser'>
						<H4>TURBO</H4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						</p>
					</div>
				</div>
			</a>
</div>
