<form-link></form-link>

	<div class='introContainer'>
		<div class='teaser'>
			<img class='img-responsive center-block img-rounded' src="images/overhaul/LOGO, OVERHAUL, WHITE.jpg">
		</div>
	</div>


	<div class="row" id='mainBox1'>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6'>
			<p class='productDescription'>
				<b>Little Giant Overhaul</b>
				<br><br>
				The Little Giant Overhaul™ ladder system was designed by firefighters for firefighters. The Overhaul ladder extends to 17 feet but is small enough to carry into an elevator, up a flight of stairs, or around tight corners. The ladder is just 4 foot 7 inches tall when retracted.The Overhaul has been engineered to combat all the unique challenges that firefighters have to face every day:</p>
				<ol class='productFeatures'>
					<li class='featureDescription'><b>Ratchet™ Levelers –</b> Working on unlevel ground due to slope or debris?  Ratchet Levelers adjust in seconds to provide an even, level setup over an uneven surface or debris. Ratchet Levelers are specifically designed to be easy to operate while wearing heavy firefighting gloves and boots.</li>
					
					<li class='featureDescription'><b>Roof & Rafter Hooks –</b> The Overhaul Ladder is equipped with folding roof and rafter hooks that allow firefighters to hook the ladder to a rafter or truss to help prevent the ladder from “slipping out” from underneath while firefighters work during overhaul and other operations.</li>  

					<li class='featureDescription'><b>High-Visibility –</b> Each rung on the Overhaul Ladder is equipped high-viz reflective labels and Little Giant’s exclusive Safety Insight™ photo-luminescent strips to help identify rung location in low light conditions. This durable material glows for up to 16-hours when charged, is integrated into the rung, and will not rub off like tape.</li>
					
					<li class='featureDescription'><b>Dual Position Spike Feet –</b> Adjustable non-slip rubber feet provide stability on wet or slippery surfaces and flip down spike feet provide stability on grass, carpet and soft surfaces.</li> 

					<li class='featureDescription'><b>Easy Transport –</b> The Overhaul Ladder is equipped with heavy duty casters for quick, easy transport.</li>

					<li class='featureDescription'><b>Easy Carrying –</b> The Overhaul Ladder is designed to be extremely mobile and easy to move from place to place. It is equipped with a large, solid aluminum carrying handle that is easy to grip while wearing firefighter gloves.</li>

					<li class='featureDescription'><b>Heat Sensing Technology –</b> The Defender has special heat-sensing labels that indicate when the ladder has been exposed to too damaging temperatures and should be taken out of service.</li>
				</ol>
			<p class='productDescription'>	
			    <b>NFPA Compliance</b>
			    <br><br>
				The Little Giant Overhaul ladder system is designed to meet the requirements of NFPA 1931-2015, Standard for Manufacturer’s Design of Fire Department Ground Ladders, and has been tested to the requirements of NFPA 1932-2015, Standard on Use, Maintenance, and Service Testing of In-Service Fire Department Ground Ladders.
				<br><br>
				Little Giant’s Overhaul and Defender ladders are the only articulating ladder systems that meet the requirements of NFPA 1901-2009, Standard for Automotive Fire Apparatus, section 5.7.1.3 for pumpers, section 8.7.5 for ladder trucks, and section 9.7.1.3 for quints.
				<br><br>
				<b>Insurance Services Office</b>
				<br><br>
				The Little Giant Overhaul Ladder meets ISO requirements for credit on pumper and ladder apparatus.</p>
		</div>

		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-6'>

			<div>
			  <div style="width:100%">
			    <carousel interval="myInterval">
			      <slide ng-repeat="slide in slides" active="slide.active" >
			   
			        <img ng-src="{{slide.image}}" style="margin:auto;">
		
			        <div class="carousel-caption">
			          <p>{{slide.text}}</p>
			        </div>
			      </slide>
			    </carousel>
			  </div>
			</div>

		</div>
	</div>
