<form-link></form-link>

	<div class='introContainer'>
		<h1 class="subHeading1">Introducing</h1>
		<H2 class="introduction1">Overhaul™ Firefighter Ladder</H2>
	</div>


	<div class='row' id='mainBox1'>
	<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2'>	
			<div class="imgBox">
				<p class="productDescription align ">Working with firefighters from the nation’s leading fire departments, Little Giant engineered the Overhaul™ firefighter ladder to help them gain fire control as quickly as possible and to make the overhaul process faster and safer.</p>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class='imgBox'>
				<img class='img-responsive center-block' src="images/Overhaul17_Ratchet_Hero.jpg">
			</div>
		</div>
	</div>


	<div class='row' id='mainBox2'>

		<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2'>	
		<div class='imgBox'>	
			<p class='productDescription'>The Overhaul features solid-steel rafter hooks to allow operators to secure the ladder to the rafters while checking for extension into the attack. These hooks prevent shifting and slip outs which can lead to serious falls.</p>
		</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class="imgBox" >
				<img class='img-responsive center-block' src="images/DSC_0095.jpg">
			</div>			
		</div>
	</div>

	<div class='row' id='mainBox2'>
		<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2'>	
			<div class='imgBox'>
				<p class='productDescription'>The Ratchet Levelers allow firefighters to adjust in seconds to uneven terrain or debris from pulling the ceiling. The Ratchet Levelers are specially designed to be extremely easy to operate with heavy fire gloves and boots.</p>
			</div>
		</div>
		<div class="ccol-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class='imgBox'>
				<img class='img-responsive center-block' src="images/DSC_0055.jpg">
			</div>
		</div>
	</div>

		<div class='row' id='mainBox2'>
			<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2'>	
				<div class='imgBox'>
					<p class='productDescription'>During the overhaul process, with the utilities secured, no light, no electricity, it is very easy to lose track of your ladder, which may be your only escape. The Overhaul features reflective high-viz labels and Little Giant’s exclusive Safety Insight™ photo-luminescent rung indicators, which unlike reflective materials, are visible in the absence of light. Safety Insight indicators contain a are photoluminescent material that charges in both artificial light and sunlight and glows for up to 18 hours at a time.</p>
				</div>
			</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class='imgBox'>
					<img class='img-responsive center-block' src="images/overhaul17_Glow_Rung.jpg">
				</div>					
		</div>
	</div>

	<div class='row' id='mainBox2'>
		<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2'>	
			<div class=imgBox>
				<p class="productDescription align">Firefighters often have to work on wet flooring or carpet, which can be as slick as ice to a regular ladder shoe. The Overhaul features dual-position spike feet which dig into almost any surface, providing sure footing and preventing slip outs.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class='imgBox'>
				<img class='img-responsive center-block' id='height' src="images/Overhual17_Ratchet_Snow.jpg">
			</div>
		</div>
	</div>

	<div class='row' id='mainBox2'>
		<div class='ccol-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2'>	
			<div class="imgBox">
				<p class='productDescription align'>The Overhaul is also designed to be extremely mobile and easy to move from place to place. The large, solid aluminum carrying handle is easy to grip with heavy gloves, and the Overhaul telescopes to 4’7” in its storage position. Firefighters can now move a 17-foot extension ladder up</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class='imgBox'>	
				<img class='img-responsive center-block' id='height' src="images/Overhaul17_Storage.jpg">			
			</div>

		</div>
	</div>

	<div class='row' id='mainBox2'>
		<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2'>	
			<div class='imgBox'>
			<p class='productDescription align'>The Little Giant Overhaul is the ultimate firefighter’s ladder.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class='imgBox'>
				<img class='img-responsive center-block' id='rotate' src="images/DSC_0088.jpg">
			</div>
		</div>
	</div>
	